* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    margin: 0 10px;
}

.lineNumber, .editor, #code {
    font-family: monospace;
    font-size: 1rem;
}

.lineNumber {
    text-align: right;
}

.p10 {
    padding: 10px;
}

.editor {
    width: 100%;
    resize: none;
    padding: 10px;
    background-color: #f3f3f3;
    border: none;
}

#code {
    width: 100%;
    resize: none;
    padding: 10px;
    background-color: #f3f3f3;
    border: none;
    white-space: pre;
}

.btn {
    background-color: dodgerblue;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:disabled {
    opacity: .5;
}