.row {
    display: flex;
}

.col {
    flex: 1;
    margin: 0 10px;
}

.lineNumber, .editor {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.lineNumber {
    margin-right: 10px;
    text-align: right;
}

.editor {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}